body{
    margin: 0;
}

/* headers */

.podcast{
    background: url(../images/bg5.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
    box-shadow: 2px 2px 10px 2px #aaaaaa;
}

.about-us{
    background: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
    box-shadow: 2px 2px 10px 2px #aaaaaa;
}

.index{
    background: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
    box-shadow: 2px 2px 10px 2px #aaaaaa;
}

/* headers */

.logo{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.logo img{
    width: 50px;
}

.logo h2{
    margin: 0;
    font-family: 'Aref Ruqaa', serif;
}

.button-menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #24bbce;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 0 0 #30c2d4
}

.button-menu-mobile.active{
    box-shadow: 0 0 0 100vh #24bbce;
    background-color: white;
}

.traco{
    background-color: black;
    border-radius: 5px;
    margin: 2px;
    width: 20px;
    height: 2px;
    transition: 0.5s;
}

.button-menu-mobile.active .traco{
    margin: 0;
    position: absolute;
}

.button-menu-mobile.active .traco1{
    transform: rotate(45deg);
}

.button-menu-mobile.active .traco2, .button-menu-mobile.active .traco3{
    transform: rotate(315deg);
}

.banner{
    height: 50vw;
    background: linear-gradient(rgba(173, 215, 243, 0.8), rgba(173, 215, 243, 0.8)), url(../images/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    font-family: 'Source Serif Pro', serif;
}

.banner h1{
    font-size: 2em;
    margin: 0;
}

.banner p{
    margin: 0;
}

.container{
    margin: 2em;
}

.card{
    box-shadow: 0 1px 2px #aaaaaa;
    border: 1px solid #dddddd;
    padding: 1em;
    margin: 1em 0;
    transition: 0.2s;
}

.card:hover{
    box-shadow: none;
    position: relative;
    top: 2px;
}

.card h3{
    margin-top: 0;
}

.menu-mobile{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.menu-mobile ul{
    padding: 0;
}

.menu-mobile ul li{
    font-size: 2em;
    border-bottom: solid #f1f1f1 1px;
    padding: 0.5em 0;
}

.menu-mobile ul li:last-child{
    border-bottom: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

a:hover{
    color: #034b61;
}

.hide{
    transform: scale(0);
    opacity: 0;
}

.pages{
    font-family: Yanone Kaffeesatz;
}



/* novo */
nav {
    display: none;
}
nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Yanone Kaffeesatz;
    font-size: 150%;
}

nav ul li {
    width: 100%;
    text-align: center;
}

nav ul li a:hover {
    color: #034b61;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}


/* novo */

@media only screen and (min-width: 600px) {
    .button-menu-mobile{
        display: none;
    }
    .logo img{
        width: 100px;
    }
    .logo{
        align-items: center;
    }
    nav{
        display: inline;
    }
    .pages{
        display: none;
    }
}

/* novo */









